*.class
**/target
bin/
dist
**/logs
products
repository
workspace
*~
target
target-ide
.classpath
.project
.settings
MANIFEST.MF
opendaylight/northbound/integrationtest/logs/*
*.ipr
*.bak
*.iml
*.iws
.idea
.checkstyle
xtend-gen
yang-gen-config
yang-gen-sal
classes
out/
.externalToolBuilders
maven-eclipse.xml
.sonar
sonar-project.properties
maven-metadata-local.xml
vim.exe.stackdump